:root {
  --turquoise: #1abc9c;
  --green-sea: #16a085;

  --emerald: #2ecc71;
  --nephritis: #27ae60;

  --peter-river: #3498db;
  --belize-hole: #2980b9;

  --amethyst: #9b59b6;
  --wisteria: #8e44ad;

  --wet-asphalt: #34495e;
  --midnight-blue: #2c3e50;

  --sun-flower: #f1c40f;
  --orange: #f39c12;

  --carrot: #e67e22;
  --pumpkin: #d35400;

  --alizarin: #e74c3c;
  --pomegranate: #c0392b;

  --clouds: #ecf0f1;
  --silver: #bdc3c7;

  --concrete: #95a5a6;
  --asbestos: #7f8c8d;

  --gray-color: var(--concrete);
  --light-gray-color: var(--silver);

  --primary-color: var(--wet-asphalt);
  --primary-color-dark: #2f4255;
  --primary-color-light: #485b6e;

  --secondary-color: var(--turquoise);
  --secondary-color-dark: #17a98c;
  --secondary-color-light: #31c3a6;

  --success-color: var(--emerald);
  --success-color-dark: #29b866;
  --success-color-light: #43d17f;

  --warning-color: var(--sun-flower);
  --warning-color-dark: #d9b00e;
  --warning-color-light: #f2ca27;

  --danger-color: var(--alizarin);
  --danger-color-dark: #d04436;
  --danger-color-light: #e95e50;

  --info-color: var(--peter-river);
  --info-color-dark: #2f89c5;
  --info-color-light: #48a2df;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Estilos generales */
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  padding-top: 1rem;
}

.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: var(--primary-color);
}

.page-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.text--small,
small {
  font-size: 0.8em;
}

.text--bold {
  font-weight: bold;
}

.text--center {
  text-align: center;
}

a.link {
  font-weight: bold;
  color: var(--info-color);
  text-decoration: none;
}

a.link:hover {
  color: var(--info-color-dark);
  text-decoration: none;
}

/* /Estilos generales */

/* Navegación */
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar--dark {
  background-color: var(--primary-color);
  color: var(--clouds);
}

.navbar__logo {
  font-size: 20px;
  font-weight: 700;
  padding: 0 25px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.navbar__logo-link {
  text-decoration: none;
  color: inherit;
}

.navbar__menu {
  display: flex;
  flex-flow: row wrap;
}

.navbar__menu--right {
  margin-left: auto;
}

.navbar__link {
  display: block;
  line-height: 1;
  padding: 17px 20px;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s;
}

.navbar--dark .navbar__link--active {
  transition: none;
  background-color: var(--secondary-color);
}

.navbar--dark .navbar__link:hover:not(.navbar__link--active) {
  background-color: var(--primary-color-dark);
}

.navbar__menu-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  padding: 10px;
  height: 50px;
  transition: background-color 0.3s;
}

.navbar--dark .navbar__menu-button:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}

.navbar__menu-icon {
  display: block;
  background-color: var(--clouds);
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar__menu-icon::after,
.navbar__menu-icon::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--clouds);
  transition: transform 0.3s ease;
}

#navbar__menu-toggle:checked ~ .navbar__menu-button .navbar__menu-icon {
  background-color: transparent;
}

#navbar__menu-toggle:checked ~ .navbar__menu-button .navbar__menu-icon::before {
  transform: rotate(-45deg);
}

#navbar__menu-toggle:checked ~ .navbar__menu-button .navbar__menu-icon::after {
  transform: rotate(45deg);
}

#navbar__menu-toggle:checked ~ .navbar__menu-button .navbar__menu-icon::before,
#navbar__menu-toggle:checked ~ .navbar__menu-button .navbar__menu-icon::after {
  top: 0;
}

.navbar__menu-icon::after {
  top: -8px;
}

.navbar__menu-icon::before {
  top: 8px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__content {
  display: none;
  position: absolute;
  right: 0;
}

.navbar--dark .dropdown__content {
  background-color: var(--primary-color);
}

.navbar--dark .dropdown:hover .dropdown__button {
  background-color: var(--primary-color-dark);
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__button {
  position: relative;
  padding-right: 40px;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 21px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--clouds);
}

#navbar__menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__logo {
    padding: 15px 20px;
  }

  .navbar__menu-button {
    display: flex;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
  }

  .navbar__menu--right {
    margin: unset;
  }

  #navbar__menu-toggle:checked ~ .navbar__menu {
    display: flex;
  }

  .dropdown__content {
    position: relative;
  }

  .dropdown__content .navbar__link {
    padding-left: 35px;
  }
}

/* /Navegación */

/* Buttons */

.button {
  display: inline-block;
  color: inherit;
  transition: background-color 0.3s;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  user-select: none;
  background-color: var(--clouds);
}

.button:hover:not(:disabled) {
  text-decoration: none;
  background-color: var(--silver);
}

.button--block {
  width: 100%;
  display: block;
}

.button--primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button--primary:hover:not(:disabled) {
  background-color: var(--primary-color-dark);
}

.button--secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.button--secondary:hover:not(:disabled) {
  background-color: var(--secondary-color-dark);
}

.button--success {
  background-color: var(--success-color);
  color: #fff;
}

.button--success:hover:not(:disabled) {
  background-color: var(--success-color-dark);
}

.button--warning {
  background-color: var(--warning-color);
  color: #fff;
}

.button--warning:hover:not(:disabled) {
  background-color: var(--warning-color-dark);
}

.button--danger {
  background-color: var(--danger-color);
  color: #fff;
}

.button--danger:hover:not(:disabled) {
  background-color: var(--danger-color-dark);
}

.button--info {
  background-color: var(--info-color);
  color: #fff;
}

.button--info:hover:not(:disabled) {
  background-color: var(--info-color-dark);
}

/* Encabezados */
.heading {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading--spaced {
  justify-content: space-between;
}

.heading-title {
  margin-right: 20px;
}

.heading-title h1,
.heading-title h2 {
  margin: 0;
}

.heading-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/* Formularios */
.form {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.input {
  display: block;
  width: 100%;
  padding: 15px;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--clouds);
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-bottom: 1rem;
}

.input:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
}

.textarea {
  display: block;
  width: 100%;
  padding: 15px;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--clouds);
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-bottom: 1rem;
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
}

.select {
  display: block;
  font-size: 1rem;
  color: var(--primary-color);
  line-height: 1.3;
  padding: 15px 26px;
  width: 100%;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-bottom: 1rem;
  background-color: var(--clouds);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2334495E%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 10px auto;
}

.select:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
}

/* Errores */
.errors {
  display: block;
  background-color: var(--danger-color);
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

/* Tablas */

.tableResponsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  border: none;
  padding: 20px 10px;
}

.table-thead th {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--clouds);
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal--active {
  display: flex;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px 16px;
  background-color: var(--primary-color);
  color: white;
}

.modal-header .title, .modal-footer .title {
  margin: 0;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: white;
}

/* Alertas */
.alert {
  padding: 20px;
  background-color: #ddd;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: var(--success-color);}
.alert.danger {background-color: var(--danger-color);}
.alert.info {background-color: var(--info-color);}
.alert.warning {background-color: var(--warning-color);}

.alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert .closebtn:hover {
  color: black;
}

/* Paginación */
.pagination a {
  margin-top: 20px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--primary-color);
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Barra de acciones */
.actionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.actionBar>.button:not(:last-of-type) {
  margin-right: 1rem;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--success-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--success-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}